// https://mycolor.space/?hex=%23C1C0B9&sub=1
$color2F:     #2f4858;
$color43:     #436067;
$color60:     #607876;
$color80:     #809088;
$colorA2:     #a2a79e;
$colorC1:     #c1c0b9;
$white:       #FFFFFF;
$black:       #000000;
